<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Image_classifier.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Image_classifier.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Image_classifier.AppSettings>
            <setting name="ImageSetPath" serializeAs="String">
                <value>C:\Users\Zygfryd\Desktop\ImageAnalysis\Individual</value>
            </setting>
        </Image_classifier.AppSettings>
        <Image_classifier.Settings1>
            <setting name="DataSetPath" serializeAs="String">
                <value />
            </setting>
        </Image_classifier.Settings1>
    </userSettings>
</configuration>